streamlit
pandas
numpy
plotly
pillow
requests
beautifulsoup4
altair
matplotlib
seaborn
setuptools
streamlit-timeline
streamlit-pdf
pdfplumber
pytesseract
PyPDF2
python-dateutil
pytz
nltk
regex
scikit-learn
xgboost